@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #000000;
  --black: #000000;
  --foreground: #eeeeee;
  --link-water: #cbdceb;
  --bunting: #201e43;
  --bay-of-many: #133e87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #eeeeee;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  @apply text-foreground bg-background font-sans;
}
